html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -200px;
  padding: 0 0 200px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
.float-none {
  float: none !important;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.captcha-row > div:first-of-type {
  padding-right: 0;
}
.captcha-row > div:first-of-type img {
  cursor: pointer;
}
.captcha-row > div:first-of-type img + a {
  color: #402b1a;
}
.captcha-row > div:first-of-type img + a:hover,
.captcha-row > div:first-of-type img + a:focus {
  text-decoration: none;
}
form div.required > label:not(.clean-required):after {
  content: '\00a0*';
  color: red;
  display: inline;
}
.bg-success-imp {
  background: #5cb85c !important;
}
.bg-warning-imp {
  background: #f0ad4e !important;
}
.action-column {
  white-space: nowrap;
  width: 80px;
  text-align: center;
}
.column-id {
  width: 80px;
}
.small {
  font-weight: normal;
}
.modal-footer .bootstrap-dialog-footer-buttons {
  direction: rtl;
}
.modal-footer .btn {
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 4px;
}
.label + .label,
.btn + .btn {
  margin-left: 5px;
}
.bg-thumbnail {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.watermark {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.buttons-column > a {
  margin-left: 0px !important;
}
.text-wrap {
  white-space: normal;
}
.valign-text-top {
  vertical-align: text-top;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.navbar-brand > .logo {
  display: inline-block;
  margin: -15px 10px -15px 0;
  height: 50px;
}
@media (max-width: 992px) {
  .navbar-brand > span {
    display: none;
  }
}
.footer {
  height: 200px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}
.footer .mindseater {
  padding-top: 10px;
}
.footer .mindseater span {
  color: #bababa;
}
.navbar-light {
  background-color: #ffffff;
  border-color: #f47920;
}
.navbar-light .navbar-brand {
  color: #000000;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #000000;
}
.navbar-light .navbar-text {
  color: #000000;
}
.navbar-light .navbar-nav > li > a {
  color: #000000;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-light .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-light .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-light .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-light .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #f47920;
}
.navbar-light .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f47920;
}
.navbar-light .navbar-nav .open .dropdown-menu > .active > a,
.navbar-light .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-light .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #f47920;
}
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #f47920;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #f47920;
}
.navbar-light .navbar-toggle {
  border-color: #f47920;
}
.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:focus {
  background-color: #f47920;
}
.navbar-light .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-light .navbar-collapse,
.navbar-light .navbar-form {
  border-color: #000000;
}
.navbar-light .navbar-link {
  color: #000000;
}
.navbar-light .navbar-link:hover {
  color: #ffffff;
}
.navbar-light .nav > li > a:hover,
.navbar-light .nav > li > a:focus {
  background-color: #f47920;
}
.navbar-ihaho {
  background-color: #402b1a;
  border-color: #ffdb61;
}
.navbar-ihaho .navbar-brand {
  color: #ecf0f1;
}
.navbar-ihaho .navbar-brand:hover,
.navbar-ihaho .navbar-brand:focus {
  color: #dddddd;
}
.navbar-ihaho .navbar-text {
  color: #ecf0f1;
}
.navbar-ihaho .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-ihaho .navbar-nav > li > a:hover,
.navbar-ihaho .navbar-nav > li > a:focus {
  color: #242424;
}
.navbar-ihaho .navbar-nav > li > .dropdown-menu {
  background-color: #402b1a;
}
.navbar-ihaho .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-ihaho .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-ihaho .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #242424;
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a,
.navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #242424;
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-nav > .active > a,
.navbar-ihaho .navbar-nav > .active > a:hover,
.navbar-ihaho .navbar-nav > .active > a:focus {
  color: #242424;
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-nav > .open > a,
.navbar-ihaho .navbar-nav > .open > a:hover,
.navbar-ihaho .navbar-nav > .open > a:focus {
  color: #242424;
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-toggle {
  border-color: #ffdb61;
}
.navbar-ihaho .navbar-toggle:hover,
.navbar-ihaho .navbar-toggle:focus {
  background-color: #ffdb61;
}
.navbar-ihaho .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-ihaho .navbar-collapse,
.navbar-ihaho .navbar-form {
  border-color: #ecf0f1;
}
.navbar-ihaho .navbar-link {
  color: #ecf0f1;
}
.navbar-ihaho .navbar-link:hover {
  color: #242424;
}
.navbar-ihaho .nav > li > a:hover,
.navbar-ihaho .nav > li > a:focus {
  background-color: #ffdb61;
}
@media (max-width: 767px) {
  .navbar-ihaho .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-ihaho .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ihaho .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #242424;
  }
  .navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ihaho .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #242424;
    background-color: #ffdb61;
  }
}
.kv-password .kv-meter-container {
  width: 0px;
}
.jssor-slider [data-u='loading'] {
  position: absolute;
  top: 0px;
  left: 0px;
}
.jssor-slider .jssor-overlay {
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssor-slider .jssor-loader {
  position: absolute;
  display: block;
  background: url('../js/slider/img/loading.gif') no-repeat center center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssor-slider [data-u='slides'] {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 1140px;
  height: 285px;
  overflow: hidden;
}
.jssor-slider [data-u='navigator'] {
  bottom: 16px;
  right: 16px;
}
.jssor-slider [data-u='prototype'] {
  width: 16px;
  height: 16px;
}
.jssorb05 {
  position: absolute;
}
.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('../js/slider/img/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div {
  background-position: -7px -7px;
}
.jssorb05 div:hover,
.jssorb05 .av:hover {
  background-position: -37px -7px;
}
.jssorb05 .av {
  background-position: -67px -7px;
}
.jssorb05 .dn,
.jssorb05 .dn:hover {
  background-position: -97px -7px;
}
.jssora22l,
.jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('../js/slider/img/a12.png') center center no-repeat;
  overflow: hidden;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.jssora22l {
  background-position: -10px -31px;
  left: 0;
}
.jssora22l:hover {
  background-position: -130px -31px;
}
.jssora22l.jssora22ldn {
  background-position: -250px -31px;
}
.jssora22r {
  background-position: -70px -31px;
  right: 0;
}
.jssora22r:hover {
  background-position: -190px -31px;
}
.jssora22r.jssora22rdn {
  background-position: -310px -31px;
}
.jssora08l,
.jssora08r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url('../js/slider/img/a08.png') no-repeat;
  overflow: hidden;
  opacity: .4;
  filter: alpha(opacity=40);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.jssora08l {
  background-position: -5px -35px;
  top: 0;
}
.jssora08l:hover {
  background-position: -5px -35px;
  opacity: .8;
  filter: alpha(opacity=80);
}
.jssora08l.jssora08ldn {
  background-position: -5px -35px;
  opacity: .3;
  filter: alpha(opacity=30);
}
.jssora08r {
  background-position: -65px -35px;
  bottom: 0;
}
.jssora08r:hover {
  background-position: -65px -35px;
  opacity: .8;
  filter: alpha(opacity=80);
}
.jssora08r.jssora08rdn {
  background-position: -65px -35px;
  opacity: .3;
  filter: alpha(opacity=30);
}
/*# sourceMappingURL=main.css.map */