.info {
  color: #ffffff;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
}
.info.upper {
  text-transform: uppercase;
  margin: 20px 0 0;
}
footer .border.border-fluid {
  margin-top: 0;
  padding: 30px 30px 0px;
}
.prize-content .photo {
  height: 400px;
  width: 100%;
  background: #ffffff no-repeat center center;
  background-size: contain;
}
.prize-content .text h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 20px;
}
.prize-content .text p {
  margin-bottom: 2px;
  padding: 0;
}
.prize-content .points {
  padding-top: 30px;
}
.prize-content .points .pts {
  font-size: 30px;
  float: left;
}
.prize-content .points .pts span {
  font-size: 40px;
  font-weight: bold;
}
.prize-content .points .pts.pts-calc {
  margin-top: 2px;
}
.prize-content .points .input {
  float: left;
  padding-top: 13px;
  margin-left: 20px;
  font-size: 20px;
  width: 50%;
}
.prize-content .points .input span {
  font-size: 40px;
  font-weight: bold;
}
.prize-content .points .input input {
  color: #000000;
  width: 3em;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  padding: 2px;
  display: inline-block;
}
.prize-content .points .input u {
  text-decoration: none;
  position: relative;
  top: 9px;
}
.prize-content .points .input .help-block {
  color: #ffffff;
  font-size: 16px;
}
.prize-content .points .input.input-pts {
  margin-left: 0;
  margin-right: 20px;
  width: auto;
}
.prize-content .points .input.input-pts input {
  width: 100px;
}
.prize-content .points .btn {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
.btn-bold {
	font-weight:600 !important;
	padding: 10px 15px !important;
}
@media (min-width: 768px) {
  .prize-content .photo {
    width: 50%;
    float: left;
  }
  .prize-content .prize-text {
    width: 50%;
    float: right;
    padding-left: 30px;
  }
  .prize-content .text h1 {
    width: 50%;
  }
}
/*# sourceMappingURL=prize.css.map */