.info{color:#fff;font-size:18px;padding:0;font-weight:bold}.info.upper{text-transform:uppercase;margin:20px 0 -50px}.border{padding:20px}footer ul li a{color:#fff}footer ul li a:hover{color:#fff}.modal-body{color:#000;font-size:16px}