footer {
  background: url('../images/background_1000.jpg') no-repeat top left;
  background-size: cover;
  min-height: 651px;
}
footer h3 {
  margin-top: 67px;
  padding-bottom: 30px;
}
footer .border {
  border: 1px solid #ffffff;
  margin-top: 50px;
}
footer #gifts {
  text-align: center;
}
footer #points {
  font-size: 20px !important;
  padding: 10px 20px 20px !important;
}
footer #points ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
footer #points ul li {
  list-style: none !important;
  display: block !important;
  padding: 15px 0 !important;
}
footer #points ul li i {
  border: 1px solid #ffffff !important;
  border-radius: 100% !important;
  padding: 4px 12px !important;
  font-style: normal !important;
  margin-right: 10px !important;
  float: left !important;
}
footer #points ul li span {
  position: relative !important;
  top: 4px !important;
}
footer p {
  font-size: 1.3em;
  padding: 10px;
}
footer .bottom {
  padding: 20px 0 10px;
}
footer .bottom .fb-icon {
  background: url('../images/button_fb.png') no-repeat top left;
  background-size: contain;
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 5px;
}
footer .bottom a {
  color: #ffffff;
}
footer .bottom div {
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
}
footer .bottom div:nth-child(1) span {
  margin-right: 10px;
}
@media (min-width: 768px) {
  footer .border {
    height: 283px;
    position: relative;
  }
  footer #gifts {
    position: relative !important;
    width: 530px !important;
  }
  footer #gifts img {
    position: absolute !important;
    top: -63px !important;
    left: -63px !important;
  }
  footer #points {
    position: absolute !important;
    right: 0 !important;
    width: 540px !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
  footer #points span {
    font-weight: 300 !important;
  }
  footer .bottom div {
    line-height: 26px;
    text-align: left;
  }
  footer .bottom div.to-center {
    text-align: center;
  }
  footer .bottom div.to-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  footer {
    background-image: url('../images/background_1400.jpg');
  }
  footer #points {
    width: 550px;
  }
}
@media (min-width: 1400px) {
  footer {
    background-image: url('../images/background.jpg');
  }
}
/*# sourceMappingURL=footer2.css.map */