body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: #efeff0;
  color: #ffffff;
  font-size: 14px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
}
.btn-red {
  background: #e0011c;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  display: block;
  width: 300px;
  margin: 0 auto 15px;
}
.btn-red:hover,
.btn-red:focus {
  background: #ad0116;
  color: #ffffff;
  border-color: #ffffff;
}
.btn-white {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
  border-radius: 0;
  display: block;
  width: 300px;
  margin: 0 auto 15px;
  font-weight: 600;
}
.btn-white:hover,
.btn-white:focus {
  background: #eff0f2;
  color: #000000;
  border-color: #000000;
  text-decoration: none;
}
.slider {
  max-width: 100%;
}
@media (min-width: 1000px) {
  .slider .container {
    width: 970px;
    height: 176px;
  }
}
@media (min-width: 1400px) {
  .slider .container {
    width: 1370px;
    height: 251px;
    overflow: hidden;
  }
}
.modal-body {
  color: #000000;
  font-size: 16px;
}
/*# sourceMappingURL=body.css.map */