footer {
  background: url('../images/background_1000.jpg') no-repeat top left;
  background-size: cover;
  min-height: 651px;
}
footer h3 {
  margin-top: 67px;
  padding-bottom: 30px;
}
footer .border {
  border: 1px solid #ffffff;
  margin-top: 50px;
}
footer #gifts {
  text-align: center;
}
footer #points {
  font-size: 20px;
  padding: 10px 20px 20px;
}
footer #points ul {
  margin-bottom: 0;
  padding-left: 0;
}
footer #points ul li {
  list-style: none;
  display: block;
  padding: 15px 0;
}
footer #points ul li i {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 1px 8px 2px;
  font-style: normal;
  margin-right: 10px;
  float: left;
}
footer #points ul li p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  clear: both;
}
footer p {
  font-size: 1.3em;
  padding: 10px;
}
footer .bottom {
  padding: 20px 0 10px;
}
footer .bottom .fb-icon {
  background: url('../images/button_fb.png') no-repeat top left;
  background-size: contain;
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 5px;
}
footer .bottom a {
  color: #ffffff;
}
footer .bottom div {
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
}
footer .bottom div:nth-child(1) span {
  margin-right: 10px;
}
@media (min-width: 768px) {
  footer .border {
    height: 283px;
    position: relative;
  }
  footer #gifts {
    float: left;
    width: 300px;
  }
  footer #points {
    width: 415px;
    float: right;
    font-size: 14px;
  }
  footer #points .point {
    float: left;
    width: calc(100% - 45px);
  }
  footer #points span {
    font-weight: bold;
  }
  footer #points p {
    font-size: 13px;
    clear: none;
  }
  footer #points ul li {
    padding: 0 0 7px;
  }
  footer .bottom div {
    line-height: 26px;
    text-align: left;
  }
  footer .bottom div.to-center {
    text-align: center;
  }
  footer .bottom div.to-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  footer {
    background-image: url('../images/background_1400.jpg');
  }
  footer #gifts {
    width: 390px;
  }
  footer #points {
    width: 540px;
  }
}
@media (min-width: 1400px) {
  footer {
    background-image: url('../images/background.jpg');
  }
}
/*# sourceMappingURL=footer.css.map */