body {
    font-family: Arial;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

.title-with-subtitle h2, .title-with-subtitle h3 {
    margin: 0; 
    font-style: italic;
}

.acceptance-protocol-section {
    margin-bottom: 10px;
}

.acceptance-protocol-section .remarks {
    margin: 5px 0px 10px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.half-width-with-padding {
    width: 47%;
}

.small-text {
    font-size: 8pt;
}

.large-text {
	font-size: 12pt;
}

.table {
    border-collapse: collapse; 
    width: 100%; 
    max-width: 100%; 
    margin-bottom: 20px;
    font-size: 12px;
}

.table th {
    text-align: left;
    background-color: #fff; 
    padding: 8px; 
    line-height: 1.42857143; 
    vertical-align: bottom; 
    border-top: 1px solid #ddd; 
    border-bottom: 2px solid #ddd
}

.table .thin-bordered-header th {
    border-bottom-width: 1px;
}

.table td {
    background-color: #fff; 
    padding: 8px; 
    line-height: 1.42857143; 
    vertical-align: top; 
    border-top: 1px solid #ddd
}

.bold {
    font-weight: bold;
}
.col-sm-6 {
    width: 50%;
    float:left;
}
.upper {
    text-transform: uppercase;
}
.inline-block {
    display: block;
    float:left;
}
.table2 th {
    border-top: 0px solid #ddd; 
    border-bottom: 2px solid #ddd;
}

.table2 td {
    border-top: 1px solid #ddd;
}
.mt-20 {
    margin-top: 20px;
}
.mt-0{
    margin-top: 0px;
}

.indentation {
	margin-left: 17px;
	
}

.table-protocol, .table-protocol-detail  {
	margin: 10px 0px;
	font-size: 11px;
	border-collapse: collapse;
	width: 100%;
}

.table-protocol thead tr th {
	padding: 7px;
	font-weight: bold;
}

.table-protocol thead tr {
	background-color: rgb(214,214,214);
}

.table-protocol tbody tr td {
	text-align: center;
	padding: 7px;
}

.title {
	text-transform: uppercase;
	margin: 10px 0px 5px 0px;
	font-size: 16px;
	font-weight: bold;
}

.last-row td {
	font-weight: bold;
}

.margin-0 {
	margin: 0;
}

.goods-issued-list {
	margin-top: 10px; 
	margin-bottom: 20px;
	font-size: 12px;
}

.goods-issued-list tr th {
	font-weight: normal;
	text-align: left;
	padding-right: 20px;
}

.goods-issued-list tr td {
	font-weight: bold;
}

.table-protocol-detail tr th{
	background-color: rgb(214,214,214);
	padding: 5px;
}

.table-protocol-detail tr td {
	padding: 5px;
}
.offer-details-bordered-title {
    margin: 5px 0;
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000;
}

.offer-title {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 0px;
	margin: 10px 0;
}

.offer-details-bordered-title {
	padding: 5px 0px;
}

.offer-number {
	padding-bottom: 15px;
}

.remarks-section {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding-top: 15px;
	padding-bottom: 15px;
}

.signature {
	white-space: nowrap; 
	overflow: hidden; 
	position: relative; 
	overflow-x: auto; 
	overflow-y: hidden; 
	top: 42px; 
	height: 125px;
}